<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htzw.study.mapper.OrganizationMapper" >

  <resultMap id="BaseResultMap" type="com.htzw.study.entities.Organization" >
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="INTEGER" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org
    where org_id = #{orgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htzw.study.entities.Organization" useGeneratedKeys="true" keyColumn="org_id" keyProperty="orgId">
    insert into org (org_name, parent_org_id,
      org_code, leaf, status, 
      update_date)
    values (#{orgName,jdbcType=VARCHAR}, #{parentOrgId,jdbcType=INTEGER},
      #{orgCode,jdbcType=VARCHAR}, #{leaf,jdbcType=BIT}, #{status,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.htzw.study.entities.Organization" >
    update org
    <set>
      <if test="orgName != null">
        org_name = #{orgName,jdbcType=VARCHAR},
      </if>
      <if test="parent_org_id != null">
        parent_org_id = #{parentOrgId,jdbcType=INTEGER},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null">
        leaf = #{leaf,jdbcType=BIT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR}
      </if>
    </set>
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
  <sql id="all_column">org_id, org_name, parent_org_id, org_code, leaf, status, update_date</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="all_column"/>
    from org
    where org_id = #{orgId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="all_column"/>
    from org
  </select>
</mapper>