<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htzw.study.dao.OrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.htzw.study.entities.Organization" >
    <id column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="parent_org_id" property="parentOrgId" jdbcType="INTEGER" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from org
    where org_id = #{orgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htzw.study.entities.Organization" >
    insert into org (org_id, org_name, parent_org_id, 
      org_code, leaf, status, 
      update_date)
    values (#{orgId,jdbcType=INTEGER}, #{orgName,jdbcType=VARCHAR}, #{parentOrgId,jdbcType=INTEGER}, 
      #{orgCode,jdbcType=VARCHAR}, #{leaf,jdbcType=BIT}, #{status,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.htzw.study.entities.Organization" >
    update org
    set org_name = #{orgName,jdbcType=VARCHAR},
      parent_org_id = #{parentOrgId,jdbcType=INTEGER},
      org_code = #{orgCode,jdbcType=VARCHAR},
      leaf = #{leaf,jdbcType=BIT},
      status = #{status,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=VARCHAR}
    where org_id = #{orgId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select org_id, org_name, parent_org_id, org_code, leaf, status, update_date
    from org
    where org_id = #{orgId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select org_id, org_name, parent_org_id, org_code, leaf, status, update_date
    from org
  </select>
</mapper>