<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htzw.study.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.htzw.study.entities.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="true_name" property="trueName" jdbcType="VARCHAR" />
    <result column="role_type" property="roleType" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.htzw.study.entities.User" >
    insert into user (user_id, user_name, true_name,
      role_type, org_id, password, 
      status, update_date, remark
      )
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{trueName,jdbcType=VARCHAR}, 
      #{roleType,jdbcType=VARCHAR}, #{orgId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{updateDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.htzw.study.entities.User" >
    update user
    set user_name = #{userName,jdbcType=VARCHAR},
      true_name = #{trueName,jdbcType=VARCHAR},
      role_type = #{roleType,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select user_id, user_name, true_name, role_type, org_id, password, status, update_date,
    remark
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, user_name, true_name, role_type, org_id, password, status, update_date,
    remark
    from user
  </select>

  <select id="selectUserByUserNameAndPwd" resultMap="BaseResultMap" parameterType="com.htzw.study.entities.User">
    select user_id, user_name, true_name, role_type, org_id, password, status, update_date,
    remark
    from user
    WHERE  1=1 AND user_name=#{userName} AND password = #{password}
  </select>
</mapper>