<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htzw.study.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.htzw.study.entities.Project" >
    <id column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="project_summary" property="projectSummary" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="reporter" property="reporter" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="projectId" keyColumn="project_id" parameterType="com.htzw.study.entities.Project" >
    insert into project (project_name, project_summary,
      project_type, reporter, status, 
      update_date, remark)
    values (#{projectName,jdbcType=VARCHAR}, #{projectSummary,jdbcType=VARCHAR},
      #{projectType,jdbcType=VARCHAR}, #{reporter,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.htzw.study.entities.Project" >
    update project
    <set>
        <if test="projectName !=null">
            project_name = #{projectName,jdbcType=VARCHAR},
        </if>
        <if test="projectSummary !=null">
            project_summary = #{projectSummary,jdbcType=VARCHAR},
        </if>
        <if test="projectType !=null">
            project_type = #{projectType,jdbcType=VARCHAR},
        </if>
        <if test="reporter !=null">
            reporter = #{reporter,jdbcType=VARCHAR},
        </if>
        <if test="status !=null">
            status = #{status,jdbcType=INTEGER},
        </if>
        <if test="updateDate !=null">
            update_date = #{updateDate,jdbcType=VARCHAR},
        </if>
        <if test="remark !=null">
            remark = #{remark,jdbcType=VARCHAR}
        </if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>

    <sql id="all_column">project_id, project_name, project_summary, project_type, reporter, status,
        update_date, remark</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="all_column"/>
    from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="all_column"/>
    from project
    WHERE  status=1
  </select>
    <!--boolean insertBatchByProcedure(Integer countNum)-->
    <select id="insertBatchByProcedure" parameterType="java.lang.Integer" statementType="CALLABLE">
        {
        CALL insert_batch_project(#{countNum,mode=IN,jdbcType=INTEGER})
        }
    </select>
</mapper>