<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htzw.study.mapper.WorkLogMapper" >
  
  <resultMap id="BaseResultMap" type="com.htzw.study.entities.WorkLog" >
    <id column="work_id" property="workId" jdbcType="INTEGER" />
    <result column="work_content" property="workContent" jdbcType="VARCHAR" />
    <result column="start_date" property="startDate" jdbcType="VARCHAR" />
    <result column="end_date" property="endDate" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="work_summary" property="workSummary" jdbcType="VARCHAR" />
    <result column="year" property="year" jdbcType="VARCHAR" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="week" property="week" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work_log
    where work_id = #{workId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyColumn="work_id" keyProperty="workId" parameterType="com.htzw.study.entities.WorkLog" >
    insert into work_log (work_content, start_date, 
      end_date, project_id, user_id, 
      status, work_summary, year, 
      month, week)
    values (#{workContent,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=VARCHAR}, #{projectId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{workSummary,jdbcType=VARCHAR}, #{year,jdbcType=VARCHAR}, 
      #{month,jdbcType=VARCHAR}, #{week,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.htzw.study.entities.WorkLog" >
    update work_log
    <set>
      <if test="workContent !=null ">
      work_content = #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="startDate !=null ">
      start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate !=null ">
      end_date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="projectId !=null ">
      project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId !=null ">
      user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="status !=null ">
      status = #{status,jdbcType=INTEGER},
      </if>
      <if test="workSummary !=null ">
      work_summary = #{workSummary,jdbcType=VARCHAR},
      </if>
      <if test="year !=null ">
      year = #{year,jdbcType=VARCHAR},
      </if>
      <if test="month !=null ">
      month = #{month,jdbcType=VARCHAR},
      </if>
      <if test="week !=null ">
      week = #{week,jdbcType=VARCHAR}
      </if>
    </set>
    where work_id = #{workId,jdbcType=INTEGER}
  </update>
  <sql id="all_column">work_id, work_content, start_date, end_date, project_id, user_id, status,
    work_summary, year, month, week</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="all_column"/>
    from work_log
    where work_id = #{workId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="all_column"/>
    from work_log
  </select>
  <!--List<WorkLog> selectWorkLogByWeek(String week, Integer userId)-->
  <select id="selectWorkLogByWeek" resultMap="BaseResultMap">
    select <include refid="all_column"/>
    from work_log
    <trim prefix="where" suffixOverrides="and">
      <if test="week!=null &amp;&amp; week != &quot;&quot;">
        week=#{week} and
      </if>
      <if test="userId!=null">
        user_id = #{userId} and
      </if>
    </trim>
  </select>
  <!--List<WorkLog> selectWorkLogByTimes(String startDate, String endDate, Integer userId)-->
  <!--<![CDATA[   ]]> 是什么，这是XML语法。在CDATA内部的所有内容都会被解析器忽略-->
  <select id="selectWorkLogByTimes" resultMap="BaseResultMap">
    select <include refid="all_column"/>
    from work_log
    <where>
      <if test="startDate!=null &amp;&amp; startDate != &quot;&quot;">
        end_date <![CDATA[>=]]> #{startDate} and
      </if>
      <if test="endDate!=null &amp;&amp; endDate != &quot;&quot;">
        start_date <![CDATA[<=]]> #{endDate} and
      </if>
      <if test="userId!=null">
        user_id = #{userId} and
      </if>
    </where>
  </select>
</mapper>